{% extends "layout.html" %}
{% block title %}{{ query }} - {% endblock %}
{% block content %}
<div id="matches">
    <ol>
        {% if words %}<a href="#word">{{ words|length }} on word</a>{% endif %}
        {% if glosses %}<a href="#gloss">{{ glosses|length }} on gloss</a>{% endif %}
        {% if affix %}<a href="#affix">{{ affix|length }} on affix</a>{% endif %}
        {% if classes %}<a href="#class">{{ classes|length }} on class</a>{% endif %}
        {% if types %}<a href="#type">{{ types|length }} on type</a>{% endif %}
        {% if definitions %}<a href="#definition">{{ definitions|length }} in definition</a>{% endif %}
        {% if notes %}<a href="#notes">{{ notes|length }} in notes</a>{% endif %}
    </ol>
</div>

{% if not matches %}<p class="error">I couldn't find you anything, sorry!</p>{% endif %}

{% if similar %}
<p>
    <strong>Did you mean…</strong>
    {% for s in similar %}
    <a href="{{ s }}">{{ s }}</a>
    {% if not loop.last %}
        , 
        {% endif %}
    {% endfor %}
</p>
{% endif %}

{% if unknownaffixes %}
<p>Compound built with unknown affixes.</p>
{% endif %}

{% with %}
    {% set entries=sourcemetaphor %}
    {% set id='source' %}
    {% set title='Components in this compound:' %}
    {% include 'entrylist.html' %}
{% endwith %}

{% if entry %}
<div id="entry">
    <h1>
    {% if entry %}
        {% if entry.components() %}
                {{ entry.components()|safe }}
        {% else %}
                {{ entry|safe }}
        {% endif %}
    {% endif %}

    {% if entry.grammarclass %}
        <sub>
        {% for grammarclass in entry.terminates %}
                <a href="{{ grammarclass }}">{{ grammarclass }}</a>…
        {% endfor %}

            <a href="{{ entry.grammarclass }}">{{ entry.grammarclass }}</a>

        {% if entry.terminator %}
                    …<a href="{{ entry.terminator }}">{{ entry.terminator }}</a>
        {% endif %}
    </sub>
    {% endif %}

    {% if entry.affixes %}
    <span class="affixes">
        <span class="hyphen">-</span>{{ entry.affixes|join('<span class="hyphen">-</span>')|safe }}<span class="hyphen">-</span>
    </span>

    {% endif %}
        <span class="type">{{ entry.type }}</span>
    </h1>

    <p class="definition">{{ entry.definition|safe }}</p>
    {% if entry.notes %}
    <p class="notes">{{ entry.notes|safe }}</p>
    {% endif %}        

    <ul class="links">
        {% for section, link in entry.cll %}
        <li>
            <a href="{{ link }}" title="Relevant section in the reference grammar.">CLL {{ section }}</a>
        </li>
        {% endfor %}
        <li><a href="https://lensisku.lojban.org/en/valsi/{{ entry }}" title="This entry in the dictionary editor.">lensisku</a></li>
    </ul>
    <hr/>
</div>
{% endif %}

{% if glosses %}
<div id="gloss">
    <h2>On gloss:</h2>
    <dl>
        {% for gloss in glosses %}
            <dt>
                <a href="{{ gloss.entry }}">{{ gloss.entry }}</a>
                {% if gloss.sense %}in sense "{{ gloss.sense }}"{% endif %}
                {% if gloss.place %}on place {{ gloss.place }}{% endif %}
            </dt>
            <dd>{{ gloss.entry.definition|safe }}</dd>
        {% endfor %}
    </dl>
    <hr/>
</div>
{% endif %}

{% with %}
    {% set entries=words %}
    {% set id='word' %}
    {% set title='On word:' %}
    {% include 'entrylist.html' %}
{% endwith %}
{% with %}
    {% set entries=affix %}
    {% set id='affix' %}
    {% set title='On affix form:' %}
    {% include 'entrylist.html' %}
{% endwith %}
{% with %}
    {% set entries=classes %}
    {% set id='class' %}
    {% set title='On grammatical class:' %}
    {% include 'entrylist.html' %}
{% endwith %}
{% with %}
    {% set entries=types %}
    {% set id='type' %}
    {% set title='On type:' %}
    {% include 'entrylist.html' %}
{% endwith %}
{% with %}
    {% set entries=definitions %}
    {% set id='definition' %}
    {% set title='In definition:' %}
    {% include 'entrylist.html' %}
{% endwith %}
{% with %}
    {% set entries=notes %}
    {% set id='notes' %}
    {% set title='In notes:' %}
    {% include 'entrylist.html' %}
{% endwith %}
{% endblock %}
